extends layout

block content
  h1= title
  p Welcome to #{title}

  div.row
    div.btn-group.btn-group-justified
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='OLS') OLS
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='forms') forms
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='www') www
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='PE') PE
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='deux') deux
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-repository='de-mobile') de-mobile

  br

  div.row
    div.btn-group.btn-group-justified
      div.btn-group
        button.btn.btn-default.btn-ajax(data-repository='stat') Get Stats