extends layout

block content
  h1= title
  p A GUI for the Duke Grunt package.

  section
    h2 Repository Switcher
    div.btn-group.btn-group-justified
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-command='OLS') OLS
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-command='www') www
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-command='PE') PE
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-command='deux') deux
      div.btn-group
        button.btn.btn-default.btn-repo-switch.btn-ajax(data-command='de-mobile') de-mobile

  section
    button.btn.btn-default.btn-block.btn-primary.btn-ajax(data-command='stat') Get Stats

  section
    h2 Console
    pre.gui-console

    h2 Status
    p.gui-status-wrapper.alert
      b
        span.gui-status  
      span.gui-status-message
